<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>S-TechLab こーしきほーむぺーじ</title>
</head>
<body>
  <h1 style="font-size: 3em; text-align: center; margin-top: 2em;">
    こーしきほーむぺーじ。
  </h1>
</body>
</html>