---
import Layout from '../layouts/Layout.astro';
import MemberProfile from '../components/MemberProfile'

const members = [
  {
    name: 'ことはしろ',
    icon: '/images/kotohaSiro.png',
    links: {
      x: 'https://x.com/kotohasiro',
      note: 'https://note.com/kotoha_siro_page',
    },
  },
  {
    name: 'Sonoty',
    icon: '/images/Sonoty.png',
    links: {
      x: 'https://x.com/SonotyHearts',
      note: 'https://note.com/sonoty_hearts',
      instagram: 'https://www.instagram.com/sonoty_vrc/',
    },
  },
];
---

<Layout title="S-TechLab Official Website">
  <h1 style="text-align: center; font-size: 3rem; font-weight: 800; margin-bottom: 2rem;">
    S-TechLab
  </h1>
  <p style="text-align: center; font-size: 1.2rem; margin-bottom: 4rem;">
    S-TechLabは、ことはしろとSonotyの2人による創作サークルです。
  </p>

  <div class="members">
    {members.map(member => (
      <MemberProfile client:load member={member} />
    ))}
  </div>
</Layout>